@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

body {
  font-family: "Pokemon"
}

.gallery-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selected {
  background: url("/background.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  text-overflow: clip;
}

img {
  margin: 2px;
  width: 100px;
  height: auto;
}

.title {
  color: #FFCB05;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #3A5DA8;
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.avatar {
  display: inline-block;
  margin: 15px;
  text-align: center;
}

.name {
  font-size: 20px;
  font-family: monospace;
} 

.profilepic {
  width: 100px;
  height: 100px;
  object-fit: contain;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
}

.profilepic.fusedPokemon {
    width: 250px;
    height: 250px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
