.avatar {
  margin: 20px;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.name {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.profilepic {
  width: 100px;
  height: auto;
}


img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}